@import 'tailwindcss';

:root {
  --background: #f6f6f6;
  --foreground: #54595d;
}

body {
  background: linear-gradient(to bottom, #ffffff 0%, #f6f6f6 200px, #f6f6f6 100%);
  background-attachment: fixed;
  color: var(--foreground);
  font-family: var(--font-inter), sans-serif;
}

.toastui-editor-contents h1 .toc-anchor,
.toastui-editor-contents h2 .toc-anchor,
.toastui-editor-contents h3 .toc-anchor,
.toastui-editor-contents h4 .toc-anchor {
  display: none !important;
}

@layer utilities {
  .toastui-editor-contents,
  .toastui-editor-defaultUI,
  .toastui-editor-main {
    font-family: var(--font-inter), ui-sans-serif, system-ui, sans-serif !important;
  }
}
